/*  */
/* LINE */
/* to seperate header from main-content */

hr {
  display: block;
  height: 0px;
  border-width: 0.5px;
  border-color: var(--darkColor1);
  /* border-style: inset; */
  margin: 4.5em 0em 0em 0em;
}

body.aboutme hr {
  margin: 4.5em 0em 0em 0em;
}
body.contact hr {
  /* margin: 4.5em auto 0em auto; */
  /* width: 150px; */
  margin: 4.5em 1.5em 0em 1.5em;
}
