/* GENERAL STYLES */
:root {
  --lightColor0: #fdfdfd;
  --lightColor1: #f0f0f0;
  --lightColor2: #bbdbb4;
  --darkColor1: #314045;
  --darkColor2: #588593;
  --darkColor3: #84a7a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5em;
  color: var(--darkColor1);
  background-color: var(--lightColor1);
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

/* TOP NAVBAR - MAIN MENU */
nav ul {
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 6em;
  left: 0;
  z-index: 2;
}
/* main menu list items and menu-button*/
nav > ul > li,
div.button {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: var(--lightColor0);
  border-bottom: 1px solid va(--darkColor2);
  border: 0.2px solid var(--lightColor1);
}
/* main menu links */
nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--darkColor2);
  width: 100%;
  height: 2em;
  padding-top: 0.32em;
}
.active {
  background-color: var(--lightColor1);
  border: 0.5px solid var(--darkColor2);
}

/* hover main menu */
nav ul li a:hover:not(.active) {
  border: 1px solid var(--darkColor2);
  border-radius: 0.2px;
}

/*  */
/* SUB-MENU */
nav > ul > li > ul {
  position: absolute;
  top: 0%;
  left: 62%;
  z-index: 2;
  font-size: 0.8em;
  background-color: var(--lightColor0);
  /* opacity: 0.75; */
  border: 1px solid var(--lightColor1);
  padding: 0.2em;
  visibility: hidden;
  visibility: visible;
  width: 25%;
}

/* sub-menu links */
.active.submenu {
  text-decoration: underline;
  background-color: var(--lightColor0);
}

/* hover sub-menu */
a.submenu:hover:not(.active) {
  color: var(--darkColor2);
  border: none;
  background-color: var(--lightColor1);
  text-decoration: underline;
}

/* hover to display sub-menu */
nav > ul > li:hover > ul {
  visibility: visible;
  width: 25%;
}

@media screen and (min-width: 800px) {
  /* menu */
  nav > ul {
    width: 100%;
    height: 5em;
    background-color: var(--lightColor0);
    padding-top: 1.5em;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    width: 8em;
    border: none;
  }

  /* sub menu */
  nav > ul > li > ul {
    top: 100%;
    left: 0;
    visibility: hidden;
  }

  nav > ul > li:hover > ul {
    width: 100%;
  }

  .active {
    border: none;
  }
}

@media screen and (max-width: 540px) {
  nav > ul > li {
    text-align: left;
    border: 0.2px solid var(--lightColor1);
  }
  nav > ul > li > a {
    padding-left: 0.5em;
  }
  nav > ul > li > ul {
    position: absolute;
    top: 0%;
    left: 55%;
    z-index: 2;
    font-size: 0.8em;
    background-color: var(--lightColor0);
    border: 0.2px solid var(--lightColor1);
    padding: 0.2em;
    visibility: hidden;
    visibility: visible;
    width: 25%;
  }
}

/* LINE */
/* to seperate header from main-content */

hr {
  display: block;
  height: 0px;
  border-width: 0.5px;
  border-color: var(--darkColor1);
  /* border-style: inset; */
  margin: 4.5em 0em 0em 0em;
}

body.aboutme hr {
  margin: 4.5em 0em 0em 0em;
}
body.contact hr {
  /* margin: 4.5em auto 0em auto; */
  /* width: 150px; */
  margin: 4.5em 1.5em 0em 1.5em;
}
