/* style nav */
nav {
  background-color: var(--lightColor0);
  margin-top: 5.8em;
  top: 0em;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.topnav {
  overflow: hidden;
  height: 44px;
}

/* nav links */
.topnav a {
  float: left;
  display: block;
  color: var(--darkColor2);
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  font-size: 1em;
  min-width: 130px;
  text-align: center;
}

/*  highlight the current page */
.active {
  background-color: var(--lightColor2);
}

button a {
  /* background-color: lightyellow; */
  margin: -0.6em;
  /* width: 100%; */
}

/* Hide the icon to open and close the nav on big screens */
/* .topnav .icon {
  display: none;
} */

/* menu icon */
a.icon {
  font-size: 25px;
  opacity: 0.75;
  padding: 3px 15px 3px 15px;
}

/* dropdown icon */
i.fa {
  z-index: 100;
  float: right;
  margin-top: 5px;
  margin-right: 0px;
  margin-left: -20px;
  padding: 1px 6px;
  /* background-color: aquamarine; */
}

/* Dropdown container is needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  color: var(--darkColor2);
  font-size: 1em;
  border: none;
  outline: none;
  padding: 10px 5px 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 130px;
  text-align: left;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lightColor0);
  min-width: 130px;
  z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* background of topnav links and dropdown button on hover */
/* .topnav a:hover:not(.active),
.dropdown:hover .dropbtn {
  color: var(--lightColor0);
  background-color: var(--darkColor3);
  opacity: 0.5;
} */
.topnav a:hover:not(.active),
.topnav .dropbtn a:hover:not(.active) {
  /* color: var(--lightColor0); */
  background-color: var(--darkColor3);
  color: var(--lightColor0);
}

/* background of dropdown links on hover */
.dropdown-content a:hover:not(.active) {
  color: var(--lightColor0);
  background-color: var(--darkColor3);
  opacity: 0.5;
}

/* show dropdown menu on hover the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.show {
  display: block;
}

@media screen and (max-width: 350px) {
  nav {
    margin-top: 4.8em;
  }
}

@media screen and (max-width: 800px) {
  /* .topnav a:not(:first-child), */

  .topnav {
    display: none;
    position: relative;
    padding-right: 0px;
    height: unset;
  }

  .topnav a {
    float: none;
    display: block;
    text-align: left;
    height: 2.5em;
    /* border-bottom: 0.025px solid var(--darkColor2); */
  }

  .topnav a.icon {
    position: absolute;
    display: block;
    float: right;
    text-align: right;
    right: 0px;
    top: 0;
  }

  .topnav .dropdown {
    float: none;
  }

  .topnav .dropdown-content {
    position: relative;
    background-color: var(--lightColor1);
    opacity: 0.75;
  }
  .topnav .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  i.fa {
    float: right;

    margin-top: -25px;

    padding: 6px 20px 6px 20px;
    background-color: var(--lightColor1);
    z-index: 100;
  }

  /*  */
  .show {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* @media screen and (max-width: 768px) {
  .topnav {
    position: relative;
  }
  .topnav a.icon {
    position: absolute;
    display: block;
    text-align: right;
    right: 0px;
    top: 0;
  }

  .topnav a {
    float: none;
    display: block;
    text-align: left;
    border-bottom: 0.025px solid var(--lightColor1);
  }

  .topnav .dropdown {
    float: none;
  }
  .topnav .dropdown-content {
    position: relative;
  }
  .topnav .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} */
