/*  */
/* GENERAL STYLES */

:root {
  --lightColor0: #fdfdfd;
  --lightColor1: #f0f0f0;
  --lightColor2: #bbdbb4;

  --darkColor1: #314045;
  --darkColor2: #588593;
  --darkColor3: #84a7a6;

  /* --yellowColor: #ffd320;
  --yellowColor2: #edd36c;
  --blueColor: #006699; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: var(--darkColor1);
  background-color: var(--lightColor1);
  /* font-family: "Open Sans", sans-serif;
  font-weight: normal; */
  line-height: 1.5em;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

/* CLEARFIX */
/* bottom of all pages */
/* projekt1, projekt2, projekt3 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: lighter;
}
h1 {
  font-size: 3.5em;
  /* line-height: 1.5em; */
}
h2 {
  /* font-size: 2em; */
  line-height: 1.2em;
  padding: 0em;
}

h5 {
  text-align: right;
  font-weight: lighter;
  padding: 0.5em;
}

/* LINKS */

a {
  color: var(--darkColor1);
}

h1 a {
  text-decoration: none;
  color: var(--darkColor1);
}

h5 a {
  text-decoration: none;
  color: var(--darkColor1);
}

/* newImg behind menu */
.newImg {
  top: 2.8em;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -3;
}

body.texte .newImg,
body.links .newImg {
  top: 2.2em;
}

body.projekt1 .newImg {
  margin-top: -4em;
}
body.projekt2 .newImg {
  margin-top: -2em;
}
body.projekt3 .newImg {
  margin-top: -1em;
}

/* HEADER */
/* all pages */
/* projekt1, projekt2, projekt3 */

header {
  text-align: center;

  margin: 16em auto 0em auto;
  padding: 0.5em;
  background-color: var(--lightColor1);
}

header h1 {
  font-size: 3.5em;
  /* padding-top: 0.5em; */
  line-height: 1.2em;
}
header h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0em 0.2em;
}

header p {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5em;
}

/* fixed header */
/* home, about, contact, projekte, texte */
div.fixed-header {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.fixed-header header {
  margin: 0em auto 0em auto;
  padding: 3.5em 0.5em;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 14em;
  left: 50%;
  transform: translateX(-50%);
}

/* depending on fixed header */
/* home, about, contact, projekte, texte */
.main-content {
  margin: 32em 0em 0em 0em;
  background-color: var(--lightColor1);
  border-top: 0.5px solid var(--darkColor1);
  padding-bottom: 20em;
}

.texte .container {
  margin-left: 15%;
  margin-right: 15%;
}

.texte .container img {
  max-height: 250px;
}

.container div img.img-hoch {
  max-width: 40%;
  height: fit-content;
}

#mena {
  border: 10px solid white;
}

.texte h5 {
  border-bottom: 0.25px solid var(--darkColor1);
  opacity: 0.75;
}

/* MAIN SECTION */
/* CSS GRID (container)*/
/* home, projekte, texte */

.container {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, auto);
  margin-top: 1.5em;
}

/* .texte .container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, auto);
} */

.container div {
  background-color: var(--lightColor0);
  height: 100%;
}

.container div h2 {
  padding: 0.2em 0.5em 0em 0.25em;
  font-size: 1.5em;
}

.container div h3 {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
}

.container div p {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}

.container div img {
  width: 100%;
  object-fit: cover;
}

.container div h2.text-art {
  border-bottom: 1px solid var(--darkColor1);
}

/* MAIN SECTION */
/* about me*/
blockquote {
  background-color: var(--darkColor2);
  opacity: 0.75;
  color: var(--lightColor1);
  /* text-align: center; */
  margin: 1em auto 2em auto;
  max-width: 800px;
}
blockquote p {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 80vw;
  margin: 1em auto;
}

.contact blockquote {
  margin: 0em auto;
}
.contact blockquote p {
  padding: 1em;
}

/* image aboutme */
img#foto-mena {
  /* width: 200px; */
  width: 100%;
}
div.center-img {
  margin: 0em auto 1em auto;
  text-align: center;
  max-width: 400px;
}

.aboutme .main-content {
  background-color: var(--lightColor0);
}
section.aboutme {
  /* font-size: 1.1em; */
  line-height: 1.7em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  padding: 0em;
  text-align: center;
}

.aboutme p {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

/*  */
/* INTERNAL LINKS */
/* about me */
section.internal-links {
  margin-top: 3em;
}

.list li {
  list-style-type: none;
  margin: 0em 0%;
  width: 100%;
  text-align: center;
  /* font-size: 1.2em; */
  /* background-color: var(--darkColor2); */
  /* opacity: 0.75; */
  padding: 0.5em;
  line-height: 2em;
}
/* .list a {
  text-decoration: none;
  color: var(--lightColor0);
} */

.list li a:hover {
  background-color: var(--darkColor3);
  /* opacity: 0.5; */
  padding: 0.5em;
}

/* MAIN SECTION */
/* contact */
.contact .main-content {
  text-align: center;
  padding: 1.5em 0em 20em 0em;
  background-color: var(--lightColor0);
}
#contact {
  line-height: 1.5em;
  /* margin-top: -0.5em; */
}

/* MAIN SECTION */
/* links */
.links .main-content {
  text-align: center;
  padding: 0em 0em 20em 0em;
  background-color: var(--lightColor0);
}

.links .main-content h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em;
  background-color: var(--lightColor2);
  max-width: 800px;
  margin: 1em auto 0em auto;
}

/* #links {
  text-align: center;
  list-style: none;
  max-width: 800px;
  margin: 1.5em auto;
  background: var(--darkColor2);
  padding: 3em 1em;
  opacity: 0.75;
} */

#links {
  margin-top: 1.5em;
}

#links li {
  text-align: center;
  list-style: none;
  max-width: 800px;
  margin: 0em auto;
  background: var(--darkColor2);
  padding: 0.5em 1em;
  opacity: 0.75;
}

#links a {
  /* text-decoration: none; */
  color: var(--lightColor0);
  line-height: 2em;
}

#links li:hover {
  /* text-decoration: underline; */
  background-color: var(--darkColor2);
  opacity: 1;
}

/* MAIN SECTION */
/* 3 COLUMNS CLEARFIX */
/* projekt1, projekt2, projekt3 */
/* bottom of all pages */

.main {
  margin: 2em;
}
.main section {
  text-align: center;
  margin-bottom: 2em;
}
.main section p {
  text-align: justify;
  /* line-height: 2em; */
  line-height: 1.7em;
  margin-top: 0.5em;
}
.main section img {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* projekt 1 - option color blue and yellow  */

/* body.projekt1 {
  background-color: var(--yellowColor2);
  color: var(--blueColor);
} */
/* .projekt1 .main p > a {
  text-decoration: none;
  color: var(--yellowColor);
} */

/*  */
/* BUTTONS */
/* send mail button (conatct)*/
/* click me button (projekt2-3) */
a.button1 {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--lightColor2);
  border: 0.5px solid var(--darkColor1);
  border-radius: 0.2em;
  color: var(--darkColor1);
  margin: 3em 1em;
  padding: 1em 2em;
}
a.button1:hover {
  background-color: var(--lightColor0);
}

/* send mail button */
a.button1.mail:hover {
  background-color: var(--darkColor3);
  color: var(--lightColor0);
  border: 0.5px solid var(--lightColor0);
}

/* button with an image (projekt1)*/
a.button-img:hover {
  background: url(./final_looping_kl.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: var(--darkColor1);
}

/* read more on click button */
#more1,
#more2,
#more3,
#more4,
#more5,
#more6 {
  display: none;
}

.myBtn {
  text-transform: uppercase;
  /* text-transform: lowercase; */
  background-color: var(--lightColor0);
  border: 0.5px solid var(--darkColor1);
  border-radius: 0.2em;
  color: var(--darkColor1);
  margin: 2em 1em;
  padding: 1em;
  font-size: 1em;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.myBtn:hover {
  text-decoration: underline;
}

/*  */
/* BOTTOM OF PAGE */
/* bottom of all pages */

/* .bottom {
  width: 100%;
  background-color: var(--darkColor3);
  background-color: var(--darkColor2);
  color: var(--darkColor1);
  display: none;
}

.icon-text {
  color: var(--lightColor1);
  line-height: 1.5em;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: lighter;
  display: none;
}

.social-icon {
  color: var(--lightColor1);
  font-weight: lighter;
  display: none;
}

#bottom {
  margin: 0px;
  padding: 4em 0em 2em 0em;
} */

/* background image bottom of page */
/* projekt1 */
.projekt1 div.back-img {
  width: 100%;
  height: 20vh;
  background: url("final_fische_kl Kopie.jpg");
  background-size: contain;
  background-position-x: 25%;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 0.75;
  overflow: hidden;
  text-align: justify;
  padding: 5px;
  margin-top: 0em;
  z-index: 10;
}

body.projekt1 .bottom {
  margin-top: 0em;
}

/* FOOTER */
/* all pages */
footer#home_footer {
  padding: 2.5em;
  text-align: center;
  background-color: var(--darkColor2);
  opacity: 1;
  /* line-height: 3em; */
  font-size: 0.7em;
}

/* footer h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
} */

/* cookie banner */
/*  */
.alert {
  padding: 2em;
  background-color: var(--darkColor1);
  background-image: url(pexels-photo-1848973.jpg);
  background-position: center;
  background-size: 420px;
  background-repeat: no-repeat;
  opacity: 0.75;
  color: white;
  /* max-width: 300px; */
  max-width: 400px;
  float: right;
  font-size: 0.75em;
  /* text-align: center; */
  position: fixed;
  bottom: 0em;
  right: 0em;
}

.closebtn {
  /* margin-left: 15px; */
  color: white;
  float: right;
  font-size: 2em;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  /* color: black; */
  text-decoration: underline;
}
/*  */
/*  */

/*  */
/* MEDIA QUERY */
/*  */
/* responsive - big screen */

@media screen and (min-width: 800px) {
  /* header */
  /* fixed header  */

  header {
    margin: 9em auto 4.5em auto;
    max-width: 80vw;
  }

  header h1 {
    /* font-size: 5em; */
    font-size: 4em;
    padding-top: 0.5em;
  }

  header p {
    max-width: 800px;
    margin: 1em auto;
  }

  .fixed-header header {
    top: 7em;
    max-width: 80vw;
  }

  .newImg {
    display: none;
  }

  /* main content */
  /* home, aboutme, contact, projekte, texte */
  .main-content {
    margin: 26em 0em 0em 0em;
  }
  .texte .container {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  /* css grid */
  /* home, projekte, texte */
  .container {
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1.5em 1.5em 1.5em 1.5em;
  }

  /* aboutme */
  blockquote {
    margin: 2em auto 3em auto;
  }

  .aboutme blockquote p {
    max-width: 80vw;
  }

  .aboutme p {
    max-width: 800px;
  }

  /* internal links */

  section.internal-links {
    margin: 2em auto;
    max-width: 800px;
  }
  /* .list li {
    margin: 2em auto;
    max-width: 800px;
  } */

  /* main section */
  /* projekt1, projekt2, projekt3 */
  .main section {
    float: left;
    width: 31.4285714286%;
    margin-right: 2.85714285714%;
  }

  div.main {
    margin-bottom: 5em;
  }

  .main section:last-child {
    margin-right: 0;
  }

  /* .main section p {
    height: 22em;
    overflow: hidden;
  } */
}

/* responsive small screen*/
/* bottom of page - social-icons */
@media screen and (min-width: 350px) {
  .small section {
    float: left;
    width: 31.4285714286%;
    margin-right: 2.85714285714%;
  }
  .small section:last-child {
    margin-right: 0;
  }

  #bottom {
    padding-bottom: 0em;
  }
}

/* self-made mediaquery... */

@media screen and (max-width: 350px) {
  .newImg {
    top: 4em;
  }

  .fixed-header header {
    top: 12em;
    padding-top: 2em;
  }
  .home .main-content,
  .aboutme .main-content,
  .contact .main-content,
  .projekte .main-content,
  .texte .main-content,
  .links .main-content {
    margin: 28em 0em 0em 0em;
  }
  header {
    margin-top: 13em;
  }

  header h1 {
    padding-top: 0em;
  }
}
/* font-size small*/
@media screen and (max-width: 540px) {
  .heading1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h1 {
    font-size: 2em;
  }
  p.text-size {
    font-size: 1.2em;
  }

  h3.text-size {
    font-size: 1.3em;
  }

  header p {
    font-size: 1em;
  }

  .container div h2 {
    font-size: 1.5em;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .texte .container {
    margin-left: 0em;
    margin-right: 0em;
  }
  .main-content {
    margin: 30em 0em 0em 0em;
  }

  .fixed-header header {
    margin: 0.5em 0em;
  }

  header h3 {
    margin-top: 0.5em;
  }
}
